@model InforQui_17933.Models.Produtos

@{
    ViewBag.Title = "Detalhes dos produtos";
}

<div style="float:left">
    <br /><br />
    <h4> 
        <i>@Html.DisplayFor(model => model.Nome)</i>
    </h4>
    <table class="dl-horizontal" style="border:2px solid #808080;">
        <tr style="border:2px solid #808080;">
            <th style="border:2px solid #808080; text-align:center">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th style="border:2px solid #808080; text-align:center">
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th style="border:2px solid #808080; text-align:center">
                @Html.DisplayNameFor(model => model.Tipo)
            </th>

        </tr>


        <tr style="border:2px solid #808080;">
            <td width="400px; text-align:center">
                @Html.DisplayFor(model => model.Descricao)
            </td>

            <td style="border:2px solid #808080; text-align:center">
                @Html.DisplayFor(model => model.Preco)
            </td>

            <td style="border:2px solid #808080; text-align:center">
                @Html.DisplayFor(model => model.Tipo)
            </td>
        </tr>
    </table>
</div>
<br /><br />

<div style="float:right">
    <img src="~/Content/Imagens/@Html.DisplayFor(model =>model.Imagem)" style="height:200px;width:300px;" />
</div>

<div style="top:45%; left:20%; position:absolute">
    <button class="btn-secondary">
        @Html.ActionLink("Volta para a lista dos produtos", "Index")
    </button>
    <button class="btn-info">
        @Html.ActionLink("Adicionar Carrinho", "AddCart", new { id = Model.ProdutoID })
    </button>
</div>

<br />
