@model InforQui_17933.Models.Produtos

@{
    ViewBag.Title = "Detalhes";
}

<h4>Detalhes dos produtos</h4>

<div>
    <hr />

    <table class="dl-horizontal">
        <tr>
            <td>
                <img src="~/Content/Imagens/@Html.DisplayFor(model =>model.Imagem)" style="height:200px;width:200px;" />
            </td>
            
            <td>
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome):  </th>
                        <td>@Html.DisplayFor(model => model.Nome)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Descricao):    </th>
                        <td>@Html.DisplayFor(model => model.Descricao)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Preco):  </th>
                        <td>@Html.DisplayFor(model => model.Preco)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Tipo):  </th>
                        <td>@Html.DisplayFor(model => model.Tipo)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Preco):  </th>
                        <td>@Html.DisplayFor(model => model.Preco)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Imagem):  </th>
                        <td>@Html.DisplayFor(model => model.Imagem)</td>
                    </tr>
                </table>
        </tr>
    </table>
</div>
<br /><br />
<p>
    @Html.ActionLink("Volta para a lista dos produtos", "Index")
</p>
