@model PagedList.IPagedList<InforQui_17933.Models.Produtos>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index do cliente";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@using (Html.BeginForm(FormMethod.Get))
{
    <div style="position:fixed; left:20%">
        @Html.TextBox("Procurar")
        <input style="background-color:#00ff90; color:#ffffff; " type="submit" value="Procurar" />
    </div>

    <br /><br />

    <table style="left:20%;">
        <tr>
            <td>
                <div style="background:white; padding:10px; margin-top:40px; position:center">
                    <div id="carousel-example-generic" class="carousel slide" style="border:2px solid #00ffff;" data-ride="carousel">

                        <div class="carousel-inner">

                            <!--Texto primeiro-->
                            <div class="item active" style="max-height:450px;">
                                <h4>O InforQui não vão vender todos os instrumentos e as materias que costumam utilizar no laboratorio</h4>
                            </div>

                            <!--Texto segundo-->
                            <div class="item" style="max-height:450px;">
                                <h4>Para ver os detalhes do produto e comprar os produtos, é obrigatoriamente fazer a autenticação.</h4>
                            </div>

                            <!--Texto terceiro-->
                            <div class="item" style="max-height:450px;">
                                <h4>Tem muitos prodtos novos e atualizados</h4>
                            </div>

                            <!--Texto quarto-->
                            <div class="item" style="max-height:450px;">
                                <h4>Este fim de semana, tem desconto 50% para todos os Calix Beaker. Regista já! para ver estas ofertas.</h4>
                            </div>
                            <!--Texto quinto-->
                            <div class="item" style="max-height:450px; font-weight:bold; font-family:Algerian">
                                <h4>O InforQui é a sua melhor escolha. Aproveite já!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

@foreach (var item in Model)
{
    <div clas="produtoCliente" style="left:20px; cursor:pointer; float:left; padding:2px; margin:5px;">
        @* Vai referenciar para o url com o 'Action', view 'Details' e o controller 'AreaCliente'*@
        <a href='@Url.Action("Detalhes", "Clientes", new { id = item.ProdutoID })'>
            @*Vai mostrar cada url com a imagem dos produtos*@
            <img src="~/Content/Imagens/@Html.DisplayFor(model => item.Imagem)" style="height:200px;width:200px;" /><br />

            <div style="background-color:#00ff90; color:#ffffff; text-align:center;">
                @Html.DisplayFor(modelItem => item.Preco) <br />
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
        </a>
    </div>
}

<br />
 <div style="top:123%; position:absolute;">
       @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }))
   
</div>



