@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "ContaUtilizadores", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        <span style="font-family:'Times New Roman'; font-size:14px; color:#0026ff">
                            <img src="~/Content/Imagens/profil.png" style="width:40px; height:40px">
                            @Html.ActionLink(User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Utilizadores")">
                                Definição
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </li>
                        <li>

                        </li>
                        <li>
                            <a style="font-family:'Times New Roman'; font-size:14px;" href="javascript:document.getElementById('logoutForm').submit()">
                                Terminar Sessão
                                <span class="glyphicon glyphicon-off pull-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            @*<li>
                    <a style="font-family:'Times New Roman'; font-size:14px; color:#0026ff" href="javascript:document.getElementById('logoutForm').submit()">Terminar Sessão</a>
                </li>*@
        </ul>
    }
}
else
{
    <div>
        <ul class="nav navbar-nav navbar-right" style="font-size:14px; font-family:'Times New Roman'; left:87%;">
            <li style="border:2px solid #ffffff;">
                <button class="btn btn-info">
                    <img src="~/Content/Imagens/registar.png" width="40" height="40" />
                    @Html.ActionLink("Registar", "Registar", "ContaUtilizadores", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </button>
            </li>

            <li style="border:2px solid #ffffff;">
                <button class="btn btn-info">
                    <img src="~/Content/Imagens/entrar.png" width="40" height="40" />
                    @Html.ActionLink("Iniciar Sessão", "Login", "ContaUtilizadores", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </button>
            </li>
        </ul>
    </div>
}
