@using InforQui_17933.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sessão";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "ContaUtilizadores", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div style="padding: 20px;" id="form-olvidado">
                    <fieldset>
                        <div class="form-group input-group">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Utilizador" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock">
                                </i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password Utilizador" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input name="tipoTransporte" type="submit" value="Entrar" class="btn btn-default btn-block btn-info" />
                                </div>
                                <div class="help-block col-md-offset-2 col-md-10">
                                    <a href="#" id="olvidado">Esqueces-te da tua senha?</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







