@model InforQui_17933.Models.Produtos

@{
    ViewBag.Title = "Detalhes Produtos";
}


<div>
    <h4>Os detalhes do Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            <img src="~/Content/Imagens/@Html.DisplayFor(model =>model.Imagem)" style="height:200px;width:200px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>

    <br /><br />
    <div>
        <button> @Html.ActionLink("Atualizar", "Atualizar", new { id = Model.ProdutoID })</button>
        <button>@Html.ActionLink("Detalhes", "Detalhes", new { id = Model.ProdutoID })</button>
        <button>@Html.ActionLink("Remover", "Remover", new { id = Model.ProdutoID })</button>
        <button>@Html.ActionLink("Volta para a lista dos Produtos", "Index")</button>
    </div>
</div>

