@model InforQui_17933.Models.Produtos

@{
    ViewBag.Title = "Detalhes dos produtos";
}

    <div style="float:left">

        <h4>
            @Html.DisplayFor(model => model.Nome)
        </h4>
        <hr />
        <table class="dl-horizontal" style="border:2px solid #808080;">
            <tr style="border:2px solid #808080;">
                <th style="border:2px solid #808080; text-align:center">
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th style="border:2px solid #808080; text-align:center">
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th style="border:2px solid #808080; text-align:center">
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>

            </tr>


            <tr style="border:2px solid #808080;">
                <td width="300px; text-align:center">
                    @Html.DisplayFor(model => model.Descricao)
                </td>

                <td style="border:2px solid #808080; text-align:center">
                    @Html.DisplayFor(model => model.Preco)
                </td>

                <td style="border:2px solid #808080; text-align:center">
                    @Html.DisplayFor(model => model.Tipo)
                </td>
            </tr>
        </table>
        <br />
        <p>
            <button class="btn-secondary glyphicon glyphicon-step-backward" style="height:40px;">
                @Html.ActionLink("Volta para a lista dos produtos", "Index")
            </button>
            <button class="btn-info glyphicon glyphicon-refresh" style="height:40px;">
                @Html.ActionLink("Atualizar", "Atualizar", new { id = Model.ProdutoID })
            </button>
            <button class="btn-danger glyphicon glyphicon-trash" style="height:40px;">
                @Html.ActionLink("Remover", "Remover", new { id = Model.ProdutoID })
            </button>
        </p>
    </div>
    <br /><br />

    <div style="float:right">
        <img src="~/Content/Imagens/@Html.DisplayFor(model =>model.Imagem)" style="height:200px;width:300px;" />
    </div>

<br />
