@model PagedList.IPagedList<InforQui_17933.Models.Produtos>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Index";
    }

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <br /><br />
    <button class="btn-info glyphicon glyphicon-plus" style="height:40px; font-size:14px;">
         @Html.ActionLink("Adicionar o produto", "Adicionar")
    </button>
<br /><br />
    <table>
        <tr style="border: 2px solid #00ffff;">
            <th style="border: 2px solid #00ffff; text-align:center">
                @Html.DisplayName("Nome do Produto")
            </th>
            <th style="border: 2px solid #00ffff; text-align:center">
                @Html.DisplayName("Descrição do produto")
            </th>
            <th style="border: 2px solid #00ffff; text-align:center">
                @Html.DisplayName("Imagem do produto")
            </th>
            <th style="border: 2px solid #00ffff; text-align:center">
                @Html.DisplayName("Preço do produto")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Tipo do produto")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 2px solid #00ffff; text-align:center">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td  style="border: 2px solid #00ffff; text-align:center">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td  style="border: 2px solid #00ffff;">
                    <a href='@Url.Action("Detalhes", "Funcionarios", new { id = item.ProdutoID })'>
                        <img src="~/Content/Imagens/@Html.DisplayFor(model =>item.Imagem)" style="height:200px;width:200px;" />
                    </a>
                </td>
                <td  style="border: 2px solid #00ffff;">
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td  style="border: 2px solid #00ffff;">
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
            </tr>
        }

    </table>
    
<p>@Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }))</p>
    
